:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white-color: #fff;
  --primary-color: #00b74f;
  --secondary-color: #32343e;
  --secondary-text: #999a9f;
  --error-color: #f75656;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  font-family: var(--font-family);
}
